#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ccd5ae;
    color: white;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px; 
  }
  
  .nav button {
    background: #C2CFB2;
    border: none;
    padding: 10;
  }
  
  .footer {
    max-width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
    background-color: #ccd5ae;
    color: white;
  }
  
  .about-me {
    max-width: 1280px;
    padding: 15px;
    background-color: #dda15e;
    color: black;
  }
  
  .contact {
    max-width: 1280px;
    padding: 15px;
    background-color: #cce3de;
    color: black;
  }
  
  .resume {
    max-width: 1280px;
    padding: 15px;
    background-color: #cce3de;
    color: black;
  }
  
  .portfolio {
    max-width: 1280px;
    padding: 15px;
    background-color: #cce3de;
    color: black;
  }