

#nav-item, #root {
  position: top, fixed; /* Set position to relative */
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  flex-direction: column; /* Stack items vertically */
  height: 5vh;
}
#nav nav-tabs {

}
#header-image img {
  width: 100%;
  height: 50%; /* Adjust height to fill container */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  position: fixed; /* Set position to absolute */
  top: 35%; /* Align to 50% from the top */
  left: 50%; /* Align to 50% from the left */
  transform: translate(-50%, -50%); /* Adjust to center both horizontally and vertically */
  margin: 0; /* Remove default margin */
  z-index: 1; /* Ensure it appears above other elements */
  text-decoration-color: black;
}

/* Adjust link styling */
a {
  font-weight: 500;
  color: #a4ac86;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  flex-wrap: wrap; /* Add flex-wrap */
  background-color: #a4ac86;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b6ad90;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

